@import "tailwindcss";

@layer components{
    /* styles.css */
    .capsule-button {
    border: 2px solid white;
    border-radius: 50px; 
    padding: 16px 32px;  
    margin: 12px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    }
  
    .capsule-button:hover {
    background-color: rgba(255, 255, 255, 0.1); 
    transform: scale(1.05); 
    }
  
}